.Cell {
    width: auto;
}

@keyframes pulse {
    from {
        border-width: 1px;
    }

    to {
        border-width: 4px;
    }
}

.Destination {
    width: auto;
    border: 1px solid yellow;
    animation: 0.25s infinite alternate pulse;
}